<!-- end #header -->
<!DOCTYPE html>
<html>
<head>
	<title>文章内容</title>
</head>
<link rel="stylesheet" href="__STATIC__/css/common.css">
<body>
	<div id="page" >
		<div id="detail">
			<volist id="ar" name="articledata">
				<div class="post umar-t20">
					<h2 class="title">
						<h1>{$ar['title']}</h1>
					</h2>
					<p class="meta umar-t10">
						<p> {$ar['nickname']}{$ar['time']}</p>
						<div class="ub">				<div class="bg-ed"> {$ar['catetitle']}</div><div class="ub-f1"></div></div>
					</p>
					<div class="entry">
						<div>{$ar['content']|htmlspecialchars_decode}</div>
					</div>
				</div>
			</volist>
		</div>
	</div>
</body>
</html>