<include file="Public/header" title="展示文章内容" />
<!-- end #header -->
<!-- end #header-wrapper -->
<div id="page" >
	<div id="content">
		<a href="__MODULE__/Article/addPage" class="button button-glow button-rounded button-raised button-primary">新增文章</a>
		<volist id="ar" name="articledata">
			<div class="post umar-t20">
				<h2 class="title">
					<a href="#">{$ar['title']}</a>
				</h2>
				<p class="meta umar-t10">
					{$ar['create_at']} <!-- Sunday, April 26, 2009 7:27 AM --> Posted by  {$ar['nickname']}
				</p>
				<div class="entry">
					<p style="font-size: 16px;">
					{$ar['intro']}...........
					</p>
				</div>
			</div>
		</volist>
	</div>
	<!-- end #content -->
<include file="Public/sidebar" />
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
	<include file="Public/footer" title="展示文章内容" />
	</html>