<include file="Public/header" title="管理员列表" />

<div id="page-wrapper" class="admin">
    
    <div class="row">
        <div class="col-md-6">
            <a href="{:U('admin/add')}" class="btn btn-success">添加管理员</a>
        </div>
        <div class="col-md-6">
            <form action="{:U('admin/index')}" method="post">
                <div class="form-group input-group">
                    <input type="text" class="form-control" name="key" placeholder="输入管理员名称搜索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>管理员帐号</th>
                <th>管理员组</th>
                <th>状态</th>
                <th>最后登录时间</th>
                <th>最后登录IP</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <foreach name="model" item="v">
            <tr>
                <td>{$v.id}</td>
                <td>{$v.username}</td>
                <td>{$v.name}</td>
                <td>  
					<if condition="$v.is_effect eq 1"><span class="label label-info">有效</span>
                    <elseif condition="$v.is_effect eq 0" /><span class="label label-warning">无效</span>
                    </if>
                 </td>
                <td>{$v.login_time}</td>
                <td>{$v.login_ip}</td>
                <td>
                	<a href="{:U('admin/update',array('id' => $v['id']))}">编辑</a> | 
	                <input type="hidden" value="{:U('admin/delete',array('id' => $v['id']))}" class="delete-url">
	                <a href="#" style="color:red;" class="delete-item">删除</a>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
    {$page}
</div>


<include file="Public/footer" />