<include file="Public/header" title="编辑管理员" />
<div id="page-wrapper" class="admin">
    <form>
        <div class="form-group">
            <label for="admin-username">管理员帐号</label>
            <input type="text" name="username" class="form-control" id="admin-username" value="{$admin.username}" placeholder="输入管理员帐号">
        </div>
        <div class="form-group">
            <label for="admin-password">管理员密码</label>
            <input type="password" name="password" class="form-control" id="admin-password" placeholder="">
        </div>
        <div class="form-group">
            <label for="admin-cf-pasword">确认管理员密码</label>
            <input type="password" name="confirm-password" class="form-control" id="admin-cf-pasword" placeholder="">
        </div>
        <div class="form-group">
            <label for="admin-role">管理员分组</label>
            <select name="role_id" id="admin-role" class="form-control">
                <option value="">未选择</option>
                <foreach name="group" item="v">
                    <option value="{$v.id}" <?php if($admin['role_id'] == $v['id']) {echo 'selected="selected"' ;}?> >{$v.name}</option>
                </foreach>
            </select>
        </div>
        <div class="form-group">
            <label for="admin-status">状态</label>
        	<label class="radio-inline">
              <input type="radio" name="is_effect" id="admin-status" value="1" <if condition="$admin.is_effect eq 1">checked="checked"</if>>有效
            </label>
            <label class="radio-inline">
              <input type="radio" name="is_effect" id="admin-status" value="0" <if condition="$admin.is_effect eq 0">checked="checked"</if>>无效
            </label>
        </div>
        <input type="hidden" id="id" name="id" value="{$admin.id}">
        <input type="hidden" id="action-url" value="{:U('admin/update')}">
        <button type="submit" class="btn btn-default submit">提交</button>
    </form>
</div>
<include file="Public/footer" />