<ul class="nav navbar-nav side-nav">
    <li><a href="{:U('index/index')}"><i class="fa fa-dashboard"></i> 系统首页</a></li>
    <li class="dropdown">
        <a href="{:U('category/index')}"><i class="fa fa-reorder"></i> 分类管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('media/index')}"><i class="fa fa-files-o"></i> 元数据管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('post/index')}"><i class="fa fa-edit"></i> 文章管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('page/index')}"><i class="fa fa-file-text-o"></i> 单页管理 </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> 用户管理 <b class="caret"></b></a> 
        <ul class="dropdown-menu">
            <li class="dropdown"><a href="{:U('role/index')}">管理员分组列表</a></li>
            <li class="dropdown"><a href="{:U('admin/index')}">管理员列表</a></li>
        </ul> 
    </li>
    <li class="dropdown">
        <a href="{:U('comment/index')}"><i class="fa fa-comments"></i> 留言管理</a>  
    </li>
     <li class="dropdown">
        <a href="{:U('links/index')}"><i class="fa fa-link"></i> 链接管理</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 其他设置 <b class="caret"></b></a>
    	<ul class="dropdown-menu">
            <li><a href="{:U('setting/index')}">自定义字段</a></li>
            <li><a href="#">系统优化</a></li>
            <li><a href="#">缓存管理</a></li>
        </ul>
    </li>
</ul>