<ul class="nav navbar-nav side-nav sidebar">
	<foreach name="sidebar" item="m">
	   	<if condition="($m['pid'] eq 0) AND empty($m['module'])">
           <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa {$m.icon}"></i> {$m.name} <b class="caret"></b></a> 
		        <ul class="dropdown-menu">
		        <foreach name="sidebar" item="sb">
		        	<if condition="($sb['pid'] eq $m['id'])">
				            <li class="dropdown"><a href='{:U("/Admin/".$sb["module"]."/index")}' class="menu-action">{$sb.name}</a></li>
				    </if>
		        </foreach>
		 		</ul>
	    	</li>
		</if>
		<if condition="($m['pid'] eq 0) AND !empty($m['module'])">
			<li class="dropdown">
        		<a href='{:U("/Admin/".$m["module"]."/index")}' class="menu-action">
        			<i class="fa {$m.icon}"></i> 
        			{$m.name}
        		</a>
        	</li>
        </if>
	</foreach>
</ul>