<include file="Public/header" title="编辑管理员组" />
<div id="page-wrapper" class="role">
    <form>
		<table class="table table-hover table-striped">
	        <tbody>
	        <tr>
	        	<td>名称</td>
	        	<td><input type="text" name="name" class="form-control" id="role-name" value="{$role.name}" placeholder="输入管理员组名称"></td>
	        </tr>
	        <tr>
	        	<td>状态</td>
	        	<td>
		        	<label class="radio-inline">
		              <input type="radio" name="is_effect" id="role-effect" value="1" <if condition="$role.is_effect eq 1 ">checked="checked"</if> />有效
		            </label>
		            <label class="radio-inline">
		              <input type="radio" name="is_effect" id="role_effect" value="0" <if condition="$role.is_effect eq 0 ">checked="checked"</if> />无效
		            </label>
	        	</td>
	        </tr>
	        <tr>
	        	<td>节点列表</td>
	        	<td>
		        	<table class="table table-hover table-striped">	
		        		<tbody>
			        		<foreach name="model" item="v">		
				        		<tr>	        
					                <td style="width:180px">
					                	<span>{$v.name}</span>
                                        全选<input value="{$v.id}_0" class="checkall check-module" name="role_access" type="checkbox" 
	                                        	<foreach name="check" item="c">
	                                        		<if condition="($c['module_id'] eq $v['id'])AND($c['node_id'] eq 0)">checked="checked"</if> 
	                                        	</foreach> 
	                                        >	                                        	                   
                                    </td>
					                <td>
					                	<foreach name="v.node_list" item="k">
					                		<label>
					                			{$k.name}<input value="{$v.id}_{$k.id}" name="role_access" class="node_item" type="checkbox" 
					                			<foreach name="check" item="c">
					                				<if condition="($c['module_id'] eq $v['id'])AND($c['node_id'] eq $k['id'])">checked="checked"</if>
					                			</foreach>
					                			>
					                		</label>
					                	</foreach>
					                </td>	
					        	
					        	</tr>
				        	</foreach>
			        	</tbody>
		        	</table>
	        	</td>
	        </tr>
	        <tr>
	        	<td>操作</td>
	        	<td>
	        		<button type="submit" class="btn btn-default submit">提交</button>
	        	</td>
	        </tr>
	        </tbody>
	    </table>
	    <input type="hidden" name="id" id="id" value="{$role.id}">
        <input type="hidden" id="action-url" value="{:U('role/update')}">
    </form>
</div>
<include file="Public/footer" />