<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>个人中心</title>
<link rel="stylesheet" href="__STATIC__/css/style.css">
<link rel="stylesheet" href="__STATIC__/css/common.css">
<link rel="stylesheet" href="__STATIC__/css/buttons.css">
<link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css">
</head>
<body>
	<div id="logo">
		<h1>个人中心</h1>
					<ul class="nav navbar-nav pull-right">
				<div id="personal"><div class="ub">欢迎回来,<div id="nickname"></div></div>
				<div class="ub umar-t10">
					<div class="ub"><a href="__MODULE__/Index/indexLoginpage" class="button button-highlight button-big" >回到主页</a></div>
					<div class="ub umar-l"><a href="__MODULE__/Index/exitLogin" class="button button-caution button-big" >退出</a></div></div>
				</div>
			</ul></div>
	<hr />
	<div id="header">
		<div id="menu">
			<ul>
				<li><a href="__MODULE__/Course/show">课程</a></li>
				<li><a href="__MODULE__/Article/show">文章</a></li>
	<!-- 			<li><a href="#">个人资料</a></li> -->
			</ul>
		</div>
		<!-- end #menu -->
		<div id="search">
		<!-- 	<div>
				<fieldset>
					<input type="text" name="s" id="search-text" size="15"  style="color: black" /> <input
						type="button" id="search-submit" value="GO" />
				</fieldset>
			</div> -->
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->