<include file="Public/indexheader" title="展示课程内容" />
<!-- Header -->
<header id="head2"  class="">
	<div class="container upad-b30">
		<div class="row">
			<div class="ub">		<div class="lead ulev-30 ub-f1">全部课程</div>
			<div class="lead ulev-15 ub-f1"><input type="text"  name="keywords" id="keywords" ></input>
				<a  class="button button-action button-small" style="color: white;" id="search">搜索</a>
			</div></div>
			<ul class="">
				<volist id="ca" name="catedata">
					<li class=" ">
						<a href='__MODULE__/Index/courselist/cateid/{$ca['id']}'>{$ca['title']}</a>
					</li>
				</volist>
			</ul>
		</div>
	</div>
</div>
</header>
<!-- /Header -->
<!-- Intro -->
<div style="background-color: gray;">
	<div class="container">
<!-- 		<volist id="co" name="list">
			<div class="post umar-t20 umar-b20 bgc-ff courselist">
				<h2 class="title">
					<a  href={$co['link']}>{$co['title']}</a>
				</h2>
				<p class="meta">
					{$co['create_at']} Posted by {$co['user_id']}
				</p>
				<div class="entry">
					{$co['content']}
				</div>
			</div>
		</volist> -->
		<div id="page" class="umar-t20">{$page}</div>
		<volist id="co" name="coursedata">
			<div class="post umar-t20 umar-b20 bgc-ff courselist">
				<h2 class="title">
					<a  href={$co['link']}>{$co['title']}</a>
				</h2>
				<p class="meta">
					{$co['create_at']} Posted by {$co['user_id']}
				</p>
				<div class="entry">
					{$co['content']}
				</div>
			</div>
		</volist>
		<div  style="color: red;font-size: 30px;margin-left: 20px;">
			{$error.msg}
		</div>
	</div>
</div>
<include file="Public/indexfooter" title="" />
<script type="text/javascript">
	$(document).ready(function(){

	})

	$("#search").click(function(){
		var keywords=$('#keywords').val();
		if(!keywords){
			alert("请输入搜索关键字!");
			return;
		}
		window.location.href="__MODULE__/Index/searchCourse/keywords/"+keywords;
	})
</script>
</html>