<include file="Public/header" title="登录后主页" />
<!-- end #header-wrapper -->
<div id="page">
	<div id="content">
			<volist id="co" name="coursedata">
		<div class="post umar-t20">
			<h2 class="title">
				<a href="#">{$co['title']}</a>
			</h2>
			<p class="meta">
				Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a>
			</p>
			<div class="entry">
				<p>
					This is <strong>Conjunction </strong>, a free, fully
					standards-compliant CSS template designed by <a
						href="http://www.freecsstemplates.org/">Free CSS Templates</a>,
					released for free under the <a
						href="http://creativecommons.org/licenses/by/2.5/">Creative
						Commons Attribution 2.5</a> license. You're free to use this template
					for anything as long as you link back to <a
						href="http://www.freecsstemplates.org/">my site</a>. Enjoy :)
				</p>
				<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam
					bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est.
					Phasellus dapibus semper urna. Pellentesque ornare, orci in felis.
				</p>
			</div>
		</div>
		</volist>
		
		<div class="post">
			<h2 class="title"><a href="#">Welcome to Conjunction </a></h2>
			<p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
			<div class="entry">
				<p>This is <strong>Conjunction </strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>, released for free under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a> license.  You're free to use this template for anything as long as you link back to <a href="http://www.freecsstemplates.org/">my site</a>. Enjoy :)</p>
				<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. </p>
			</div>
		</div>
		<div class="post">
			<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
			<p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
			<div class="entry">
				<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec   consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros.</p>
			</div>
		</div>
		<div class="post">
			<h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
			<p class="meta">Sunday, April 26, 2009 7:27 AM Posted by <a href="#">Someone</a></p>
			<div class="entry">
				<p>Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. </p>
			</div>
		</div>
	</div><!-- end #content -->
<include file="Public/sidebar" />
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
<include file="Public/footer" />
<script>
	var user_id="<?php echo $_SESSION["user_id"]; ?>";
	var nickname="<?php echo $_SESSION["nickname"]; ?>";
	$("#nickname").text(nickname);
</script>
</html>
