<include file="Public/header" title="添加课程" />
<div id="page-wrapper" class="course">
    <form method="post">
        <div class="form-group">
            <label for="course-title">课程标题</label>
            <input type="text" name="title" class="form-control" id="course-title" placeholder="输入文章标题">
        </div>
        <div class="form-group">
            <label for="course-cate">课程分类</label>
            <select name="cate_id" id="course-cate" class="form-control">
                <foreach name="category" item="v">
                    <option value="{$v.id}">{$v.html} {$v.title}</option>
                </foreach>
            </select>
        </div>
        <div class="form-group">
            <label for="course-pid">课程类型</label>
            <select name="pid" id="course-pid" class="form-control">
                <option value="">课程</option>
                <foreach name="cate" item="v">
                    <option value="{$v.id}">{$v.html} {$v.title}</option>
                </foreach>
            </select>
        </div>
        <div id="uploader" class="form-group">
            <label for="picker">请上传课程封面图</label>
           	<div id="picker" >选择文件</div>
			<ul id="theList"></ul>
		</div>
        <div class="form-group">
            <label for="course-content">课程内容</label>
            <script id="course-content" name="content" type="text/plain"></script>
        </div>
        <input type="hidden" id="action-url" value="{:U('course/add')}">
        <button type="submit" class="btn btn-default submit">提交</button>
    </form>
</div>
<script src="__STATIC__/js/lib/jquery-1.10.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/webuploader/md5.js"></script>
<script type="text/javascript" src="__PUBLIC__/webuploader/webuploader.js"></script>
<script type="text/javascript">
//文件上传
jQuery(function() {
    var $ = jQuery;
    var userInfo = {userId:"kazaff", md5:""};   //用户会话信息
    var chunkSize = 5000 * 1024;        //分块大小
    var uniqueFileName = null;          //文件唯一标识符
    var md5Mark = null;

    var backEndUrl = '{:U("course/uploader")}';

    WebUploader.Uploader.register({
        "before-send-file": "beforeSendFile"
        , "before-send": "beforeSend"
        , "after-send-file": "afterSendFile"
    }, {
        beforeSendFile: function(file){
            //秒传验证
            var task = new $.Deferred();
            var start = new Date().getTime();
            (new WebUploader.Uploader()).md5File(file, 0, 10*1024*1024).progress(function(percentage){
                console.log(percentage);
            }).then(function(val){
                console.log("总耗时: "+((new Date().getTime()) - start)/1000);

                md5Mark = val;
                userInfo.md5 = val;

                $.ajax({
                    type: "POST"
                    , url: backEndUrl
                    , data: {
                        status: "md5Check"
                        , md5: val
                    }
                    , cache: false
                    , timeout: 1000 //todo 超时的话，只能认为该文件不曾上传过
                    , dataType: "json"
                }).then(function(data, textStatus, jqXHR){

                    console.log(data);

                    if(data.ifExist){   //若存在，这返回失败给WebUploader，表明该文件不需要上传
                        task.reject();

                        uploader.skipFile(file);
                        file.path = data.path;
                        UploadComlate(file);
                    }else{
                        task.resolve();
                        //拿到上传文件的唯一名称，用于断点续传
                        uniqueFileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
                    }
                }, function(jqXHR, textStatus, errorThrown){    //任何形式的验证失败，都触发重新上传
                    task.resolve();
                    //拿到上传文件的唯一名称，用于断点续传
                    uniqueFileName = md5(''+userInfo.userId+file.name+file.type+file.lastModifiedDate+file.size);
                });
            });
            return $.when(task);
        }
        , beforeSend: function(block){
            //分片验证是否已传过，用于断点续传
            var task = new $.Deferred();
            $.ajax({
                type: "POST"
                , url: backEndUrl
                , data: {
                    status: "chunkCheck"
                    , name: uniqueFileName
                    , chunkIndex: block.chunk
                    , size: block.end - block.start
                }
                , cache: false
                , timeout: 1000 //todo 超时的话，只能认为该分片未上传过
                , dataType: "json"
            }).then(function(data, textStatus, jqXHR){
                if(data.ifExist){   //若存在，返回失败给WebUploader，表明该分块不需要上传
                    task.reject();
                }else{
                    task.resolve();
                }
            }, function(jqXHR, textStatus, errorThrown){    //任何形式的验证失败，都触发重新上传
                task.resolve();
            });

            return $.when(task);
        }
        , afterSendFile: function(file,response){
        	console.log(response);
            var chunksTotal = 0;
            if((chunksTotal = Math.ceil(file.size/chunkSize)) > 1){
                //合并请求
                var task = new $.Deferred();
                $.ajax({
                    type: "POST"
                    , url: backEndUrl
                    , data: {
                        status: "chunksMerge"
                        , name: uniqueFileName
                        , chunks: chunksTotal
                        , ext: file.ext
                        , md5: md5Mark
                    }
                    , cache: false
                    , dataType: "json"
                }).then(function(data, textStatus, jqXHR){

                    //todo 检查响应是否正常

                    task.resolve();
                    file.path = data.path;
                    UploadComlate(file);

                }, function(jqXHR, textStatus, errorThrown){
                    task.reject();
                });

                return $.when(task);
            }else{
                UploadComlate(file, response);
            }
        }
    });

	var uploader = WebUploader.create({
		swf: "Uploader.swf"
		, server: backEndUrl
		, pick: "#picker"
		, resize: false
		, dnd: "#theList"
		, paste: document.body
		, disableGlobalDnd: true
		, thumb: {
			width: 80
			, height: 80
			, quality: 70
			, allowMagnify: true
			, crop: true
			//, type: "image/jpeg"
		}
//		, compress: {
//			quality: 90
//			, allowMagnify: false
//			, crop: false
//			, preserveHeaders: true
//			, noCompressIfLarger: true
//			,compressSize: 100000
//		}
        , compress: false
		, prepareNextFile: true
		, chunked: true
		, chunkSize: chunkSize
		, threads: true
		, formData: function(){return $.extend(true, {}, userInfo);}
		, fileNumLimit: 1
		, fileSingleSizeLimit: 1000 * 1024 * 1024
		, duplicate: true
	});

	uploader.on("fileQueued", function(file){
		
		$("#theList").append('<li id="'+file.id+'">' +
			'<img class="itemSrc" /><span class="itemName">'+file.name+'</span><button type="button" class="itemUpload btn btn-default">上传</button><button type="button" class="itemStop btn btn-default">暂停</button><button type="button" class="itemDel btn btn-default">删除</button>' +
			'<span class="imgSrc"></span><span class="percentage"></span>' +
		'</li>');
		
		var $img = $("#" + file.id).find("img");
		
		uploader.makeThumb(file, function(error, src){
			if(error){
				$img.replaceWith("<span>不能预览</span>");
			}

			$img.attr("src", src);
		});
		
	});

	
	$("#theList").on("click", ".itemUpload", function(){
		uploader.upload();

        //"上传"-->"暂停"
        $(this).hide();
        $(".itemStop").show();
	});

    $("#theList").on("click", ".itemStop", function(){
        uploader.stop(true);

        //"暂停"-->"上传"
        $(this).hide();
        $(".itemUpload").show();
    });

    //todo 如果要删除的文件正在上传（包括暂停），则需要发送给后端一个请求用来清除服务器端的缓存文件
	$("#theList").on("click", ".itemDel", function(){
		uploader.removeFile($(this).parent().attr("id"));	//从上传文件列表中删除

		$(this).parent().remove();	//从上传列表dom中删除
	});
	
	uploader.on("uploadProgress", function(file, percentage){
		$("#" + file.id + " .percentage").text(percentage * 100 + "%");
	});

    function UploadComlate(file, response){
        console.log(file);

        $("#" + file.id + " .percentage").text("上传完毕");
        $(".imgSrc").text(response.path);
        $(".itemStop").hide();
        $(".itemUpload").hide();
        $(".itemDel").hide();
    }
});
</script>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('course-content',{
        toolbars: [
            ['fullscreen', 'source', 'undo', 'redo','bold', 'italic', 'underline','fontborder', 'strikethrough', '|','simpleupload', 'insertimage','attachment','emotion','link','unlink', '|', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote','searchreplace', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc'],
            ['inserttable','insertrow', 'insertcol','mergeright', 'mergedown','deleterow', 'deletecol','splittorows','splittocols', 'splittocells','deletecaption','inserttitle', 'mergecells', 'deletetable','insertparagraphbeforetable', 'paragraph','fontsize','fontfamily']
        ],
        initialFrameHeight:500,
        zIndex:100
    });
</script>
<include file="Public/footer" />