<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>登录页面</title>
	<link rel="stylesheet" href="__STATIC__/css/common.css">
	<link rel="stylesheet" href="__STATIC__/css/login.css">
	<link rel="stylesheet" href="__STATIC__/css/buttons.css">
	<script type="text/javascript"
	src="__STATIC__/js/jquery-2.2.2.min.js"></script>
</head>
<body>
	<div class="login">
		<h1>登录</h1>
		<form id='loginForm'>
			<div class='ub'><div class="umw100 upad5">手机号:</div><input type="text" name="username" id="username" placeholder="请输入手机号"
			required="required" /></div><div class='ub'><div class="umw100 upad5">密码：</div> <input type="password" name="password"
			placeholder="请输入密码" id="password" required="required" /></div>
			<div class='ub'>
				<div class='tc-w ub-f1'>
					<a href='__MODULE__/User/forgetPage'>忘记登录密码</a>
				</div>
				<div class='tc-w'>
					<div>
						<a href='__MODULE__/User/registerPage'>立即注册</a>
					</div>
				</div>
			</div>
			<div class='hint umar-t20'></div>
			<div class="ub ub-ac ub-pc"><div class="button button-raised button-primary button-pill button-large w350" id="loginBtn">登录</div></div>
		</form>
	</div>
</body>
<script type="text/javascript">
	$(function() {
		//手机号正则表达式
		var reg = /^1[3|4|5|8][0-9]\d{4,8}$/;
		$("#loginBtn").click(function() {
			var username = $("#username").val();
			var password = $("#password").val();
			if (username == '') {
				alert("请输入手机号!");
				return;
			}
			if (username != '' && !reg.test(username)) {
				alert("请输入有效手机号!");
				return;
			}
			if (password == '') {
				alert("请输入密码!");
				return;
			}
			$.post("{:U('User/login')}", {
				username : username,
				password : password
			}, function(data) {
				console.log(data);
				var status = data.status;
				var content = data.content;
				if (status == 0) {
					//登陆成功
					//$(".hint").text(content);
					window.location.href="__MODULE__/Index/indexLoginPage"
					return;
				} else {
					$(".hint").text(content);
				}
			});
		})

		function clean() {
			$(".hint").text('');
		}

		var $username = $("#username");
		$username.on('input', clean);
	})
</script>
</html>
