<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>登录页面</title>
	<link rel="stylesheet" href="__STATIC__/css/common.css">
	<link rel="stylesheet" href="__STATIC__/css/login.css">
	<link rel="stylesheet" href="__STATIC__/css/buttons.css">
	<link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.css">
	<style type="text/css">
		.third-login{
			color: #fff;
			padding-top: 10px;
		}
		.third-login a{
			padding-left: 30px;
		}
		.third-login .ub-icon {
			display:inline-block;
			padding-left:80px;
		}
	</style>
	<script type="text/javascript"
	src="__STATIC__/js/jquery-2.2.2.min.js"></script>
</head>
<body>
	<div class="login">
		<h1>登录</h1>
		<form id='loginForm'>
			<div class='ub'><div class="umw100 upad5">用户名:</div><input type="text" name="username" id="username" placeholder="请输入手机号或邮箱"
			required="required"  value="15827523210"/></div><div class='ub'><div class="umw100 upad5">密码：</div> <input type="password" name="password"
			placeholder="请输入密码" id="password" required="required" /></div>
			<div class='ub'>
				<div class='tc-w ub-f1'>
					<a href='__MODULE__/User/forgetPage'>忘记登录密码</a>
				</div>
				<div class='tc-w'>
					<div>
						<a href='__MODULE__/User/registerPage'>立即注册</a>
					</div>
				</div>
			</div>
			<div class='hint umar-t20'></div>
			<div class="ub ub-ac ub-pc umar-t20"><div class="button button-raised button-primary button-pill button-large w350" id="loginBtn">登录</div></div>
			<div class='hint umar-t20'></div>
			<!-- add by lihang for login with qq -->
			<div class="ub third-login">
				<span>其它方式登录</span>
				<div class="ub-icon">
					<a href="{:U('User/login',array('type'=>'qq'))}"><i class="fa fa-2x fa-qq"></i></a>
					<a href="{:U('User/login',array('type'=>'weixin'))}"><i class="fa fa-2x fa-weixin"></i></a>
					<a href="{:U('User/login',array('type'=>'sina'))}"><i class="fa fa-2x fa-weibo"></i></a>
				</div>
			</div>
		</form>
	</div>
</body>
<script type="text/javascript" src="__STATIC__/js/main.js"></script>
<script type="text/javascript">
	$(function() {
		var $username = $("#username");
		$username.on('input', clean);
		$("#loginBtn").click(function() {
			var username = $username.val();
			var password = $("#password").val();
			if (username == '') {
				alert("请输入用户名!");
				return;
			}
			if (password == '') {
				alert("请输入密码!");
				return;
			}
			$.post("{:U('User/login')}", {
				username : username,
				password : password
			}, function(data) {
				//console.log(data);
				var status = data.status;
				var content = data.content;
				if (status == 0) {
					window.location.href="__MODULE__/Index/indexLoginPage"
					return;
				} else {
					$(".hint").text(content);
				}
			});
		})

		function clean() {
			$(".hint").text('');
		}
	})
</script>
</html>
