<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册页面</title>
<link rel="stylesheet" href="__STATIC__/css/common.css">
<link rel="stylesheet" href="__STATIC__/css/login.css">
<link rel="stylesheet" href="__STATIC__/css/buttons.css">
</head>
<body>
	<div class="login">
		<h1>注册</h1>
		<div id="registerForm">
			<div class='ub'>
				<div class="umw100 upad5">用户名:</div>
				<input type="text" name="username" id="username"
					placeholder="请输入手机号或者邮箱" required="required" value="605123543" />
			</div>
			<div class='ub'>
				<div class="umw100 upad5">验证码：</div>
				<input type="text" name="code" id="code" placeholder="请输入验证码"
					required="required" style="width: 30%;" />
				<div class="button button-primary button-pill" id="getCode"
					data-type="0"
					style="margin-left: 10px; padding-left: 25px; padding-right: 25px;"
					disabled="">免费获取验证码</div>
			</div>
			<div class='ub'>
				<div class="umw100 upad5">密码：</div>
				<input type="password" name="password" id="password"
					placeholder="请输入密码" required="required" />
			</div>
			<div class='ub'>
				<div class="umw100 upad5">确认密码：</div>
				<input type="password" name="password2" id="password2"
					placeholder="请再次输入密码" required="required" />
			</div>
			<div class='ub'>
				<div class="umw100 upad5">昵称：</div>
				<input type="text" name="nickname" id="nickname" placeholder="请输入昵称"
					required="required" />
			</div>
			<div class='hint umar-t20'></div>
			<div class="ub ub-ac ub-pc umar-t20">
				<div
					class="button button-raised button-primary button-pill button-large w350 "
					id="registerBtn">注册</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="__STATIC__/js/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/main.js"></script>
<script type="text/javascript">
	$(function() {
		var verifyCode = 22222222222;
		$("#registerBtn")
				.click(
						function() {
							var username = $("#username").val();
							var code = $("#code").val();
							var password = $("#password").val();
							var password2 = $("#password2").val();
							var nickname = $("#nickname").val();
							if (username == '') {
								$(".hint").text("请输入手机号或者邮箱!");
								return;
							}
							if (username != '' && !reg.test(username)
									&& !reg2.test(username)) {
								$(".hint").text("请输入有效手机号或者邮箱!");
								return;
							}
							if (password == '') {
								$(".hint").text("请输入密码!");
								return;
							}
							if (password2 == '') {
								$(".hint").text("请确认密码!");
								return;
							}
							if (code != verifyCode) {
								$(".hint").text("验证码不正确!");
								return;
							}
							if (password != password2) {
								$(".hint").text("两次输入密码不一致!");
								return;
							}
							if (nickname == '') {
								$(".hint").text("请确认昵称!");
								return;
							}
							$
									.post(
											"{:U('Home/User/register')}",
											{
												username : username,
												password : password,
												//email:email,
												nickname : nickname
											},
											function(data) {
												console.log(data);
												var status = data.status;
												var info = data.info;
												if (status == 1) {
													//注册成功时
													$(".hint").text(
															"注册成功，即将转向登陆页面");
													setInterval(
															'window.location.href="__MODULE__/User/loginPage"',
															2000);
												} else {
													$(".hint").text(info);
												}
											});
						})

		//清空提示
		function clean() {
			$(".hint").text('');
		}
		//绑定事件-任何输入都清空提示
		var $username = $("#username");
		var $password = $("#password");
		var $password2 = $("#password2");
		var $email = $("#email");
		var $nickname = $("#nickname");
		var $code = $("#code");

		//获取验证码
		$("#getCode").click(function() {
			var dtype = $("#getCode").attr("data-type");
			var flag = $(this).hasClass("button-primary");
			//1代表手机 2代表邮箱	
			var username = $username.val();
			if (username == "") {
				$(".hint").text("请先输入手机号或者邮箱账号!");
				return;
			}
			if (dtype == 0) {
				$(".hint").text("请先输入有效手机号或者邮箱账号!");
				return;
			}
			if (!flag) {
				return;
			}
			$.post("{:U('User/ifuser')}", {
				username : username,
			}, function(data) {
				var status = data.status;
				var content = data.content;
				if (status == 0) {
					$(".hint").text(content);
					return;
				}
				$("#getCode").removeClass("button-primary");
				settime($(this));
				//获取短信验证码
				if (dtype == 1) {
					sendSMS(username);
				}
				//获取邮箱验证码
				if (dtype == 2) {
					verifyCode = createCode();
					sendEmail(username, verifyCode);
				}
			})
		})

		$username.on('input', function() {
			var flag = $("#getCode").hasClass("button-primary");
			if (flag) {
				$(".hint").text('');
				$("#getCode").attr("data-type", "0");
				$("#getCode").text("免费获取验证码");
				var username = $("#username").val();
				if (reg.test(username)) {
					$("#getCode").attr("data-type", "1");
					$("#getCode").text("获取手机验证码");
				}
				if (reg2.test(username)) {
					$("#getCode").attr("data-type", "2");
					$("#getCode").text("获取邮箱验证码");
				}
			}
		});

		//发送短信请求
		function sendSMS(username) {
			$.post("{:U('User/sendSMS')}", {
				username : username,
				type : 1
			}, function(data) {
				console.log(data);
				var status = data.status;
				var msg = data.msg;
				var id = data.id;
				verifyCode = data.verifycode;
				//status为2时代表提交成功
				if (status == 2) {
					changeCodeState(data.id);
				} else {
					$(".hint").text(msg);
					//$("#getCode").text("重新获取");
				}
			});
		}

		//发送邮件请求
		function sendEmail(username, verifyCode) {
			$.post("{:U('Home/User/sendEmail')}", {
				username : username,
				verifycode : verifyCode,
				type : 2,
				state : 0
			}, function(data) {
				console.log(data);
				var status = data.status;
				var info = data.info;
				var id = data.id;
				if (status == 0) {
					//邮件发送成功    
					changeCodeState(id);
					//$("#getCode").text("邮件已发送成功");
					//$("#getCode").attr("data-type", "3");
				} else {
					//邮件发送失败
					//$("#getCode").text("重新获取");
				}
			});
		}

		//改变状态
		function changeCodeState(id) {
			$.post("{:U('Home/User/changeCodeState')}", {
				id : id,
			}, function(data) {
				console.log(data);
			});
		}

		$password.on('input', clean);
		$password2.on('input', clean);
		$email.on('input', clean);
		$nickname.on('input', clean);
		$code.on('input', clean);
	})
</script>
</html>
