<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$model[0]["title"]}</title>
<style>
	h1 {
		padding-left:10px;
	}
	.user{
		float: left;
		display: inline-block;
	}
	.cate{
		float: right;
		display: inline-block;
	}
	.info{
		margin: 10px 15px;
	}
	.info:after {
	    content: "."; 
	    display: block;
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	} 
</style>
</head>
<body>
<h1>{$model[0]["title"]}</h1>
<div class="info">
	<span class="user">{$user}</span>
	<span class="cate">{$cate}</span>
</div>
<div>{$model[0]["content"]|htmlspecialchars_decode}</div>
</body>
</html>